---

- name: "Get project status: {{ docker_project_name }}"
  ansible.builtin.command: "{{ docker_compose_cmd }} ps"
  args:
    chdir: "{{ docker_project_path }}"
  register: docker_compose_ps_result
  changed_when: false
  ignore_errors: true

- name: "Show project status: {{ docker_project_name }}"
  ansible.builtin.debug:
    msg: "{{ (docker_compose_ps_result.stdout_lines | length > 1) | ternary(
        docker_compose_ps_result.stdout_lines,
        'offline'
      ) }}"
